@font-face {
    font-family: "fonte";
    src: url(Fonte/FilsonProBold.otf);
}

body {
    font-family: fonte;
    background-color: rgb(11, 14, 24);
    color: rgb(219, 219, 218);
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 99%;
    background-color: rgb(51, 116, 185);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo img {
    height: 50px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 28px;
    font-size: 20PX;
    margin: 0 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
}
nav ul li a:hover {
    background: #555;
    border-radius: 5px;
}
























.banner {
    height: 94vh;
    background-image: url('backgrounde.jpg');
    background: linear-gradient(rgb(11, 14, 24), );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    padding: 94px 90px;




}


















.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 700%;
    height: 100%;
    padding: 120px;
    background-color: white;
    border-radius: 30px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, opacity 0.3s ease;


}

.popup-content h1 {
    color: rgb(51, 116, 185);
    font-size: 33px;
    position: relative;



}

form label[for="nome"] {
    color: rgba(0, 0, 0, 0.4);
}

form input#nome {
    color: rgba(0, 0, 0, 0.4);
}

#nome {
    border: 2px solid #ccc;
  
    padding: 10px;
   
    border-radius: 5px;
  
    font-size: 16px;
  
}

#nome:focus {
    border-color: rgb(51, 116, 185);
   
    outline: none;
   
}



form label[for="email"] {
    color: rgba(0, 0, 0, 0.4);
}

form input#email {
    color: rgba(0, 0, 0, 0.4);
}

#email {
    border: 2px solid #ccc;

    padding: 10px;
  
    border-radius: 5px;
 
    font-size: 16px;
  
}

#email:focus {
    border-color: rgb(51, 116, 185);
   
    outline: none;
    
}


#telefone {
    border: 2px solid #ccc;
    
    padding: 10px;
   
    border-radius: 5px;
 
    font-size: 16px;
  
}

#telefone:focus {
    border-color: rgb(51, 116, 185);
    
    outline: none;
  
}

form label[for="telefone"] {
    color: rgba(0, 0, 0, 0.4);
}

form input#telefone {
    color: rgba(0, 0, 0, 0.4);
}



#restaurante {
    border: 2px solid #ccc;
    
    padding: 10px;
   
    border-radius: 5px;
  
    font-size: 16px;

}

#restaurante:focus {
    border-color: rgb(51, 116, 185);
 
    outline: none;

}

form label[for="restaurante"] {
    color: rgba(0, 0, 0, 0.4);
}

form input#restaurante {
    color: rgba(0, 0, 0, 0.4);
}


#produto {
    background-color: #fcfcfc;

    color: rgba(0, 0, 0, 0.4);

    border: 1px solid rgba(0, 0, 0, 0.4);

    border-radius: 5px;

    padding: 10px;

    font-size: 15px;

    width: 104%;

    appearance: none;

    -webkit-appearance: none;

    -moz-appearance: none;

    height: 40px;


}

#produto:focus {
    outline: none;
    border-color: rgb(51, 116, 185);
}

form label[for="produto"] {
    color: rgba(0, 0, 0, 0.4);
}

form input#produto {
    color: rgba(0, 0, 0, 0.4);
}








.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 90%;
    max-width: 600px;
    position: relative;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    cursor: pointer;
}

form label {
    display: block;
    margin-top: 15px;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 15px;
    background-color: rgb(51, 116, 185);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

form button:hover {
    background-color: rgb(51, 116, 185);
}

form p {
    font-size: 14px;
    color: rgb(11, 14, 24);
}

form p a {
    color: rgb(51, 116, 185);
    text-decoration: none;
}

form p a:hover {
    text-decoration: underline;
}

.about,
.products,
.contact {
    padding: 50px 20px;
    text-align: center;
    background-color: rgb(11, 14, 24);
font-size: 21px;
    margin-bottom: 20px;
}

.about img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}

























.products .product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.products .product {
    width: 30%;
    margin: 20px 0;
    text-align: center;
    background-color: rgb(11, 14, 24);
    border: 1px solid rgb(51, 116, 185);
    padding: 20px;
    border-radius: 8px;
}

.products .product img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contact form label {
    display: block;
    margin: 10px 0 5px;
    color: rgb(219, 219, 218);
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(51, 116, 185);
    border-radius: 4px;
    background-color: rgb(219, 219, 218);
    color: rgb(11, 14, 24);
}

.contact form button {
    padding: 10px 20px;
    background-color: rgb(51, 116, 185);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}






footer {
    background-color: rgb(51, 116, 185);
    color: white;
    text-align: center;
    padding: 20px;
}

.banner h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
}

.banner p {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}


header nav ul li a:hover {
    text-decoration: none;
    color: rgb(220 184 97);
    font-size: 21px;

}

.image-overlay {
    position: absolute;
    /* Permite posicionamento absoluto dentro do container */
    top: 69%;
    /* Ajusta a posição vertical da imagem sobreposta */
    left: 50%;
    /* Ajusta a posição horizontal da imagem sobreposta */
    transform: translate(30%, -20%);
    /* Centraliza a imagem */

}

.image-overlay2 {
    position: absolute;
    /* Permite posicionamento absoluto dentro do container */
    top: 22%;
    /* Ajusta a posição vertical da imagem sobreposta */
    left: -90%;
    /* Ajusta a posição horizontal da imagem sobreposta */
    transform: translate(-77%, -20%);
    /* Centraliza a imagem */
}

.image-overlay img {
    max-width: 100%;
    /* Garante que a imagem não ultrapasse o tamanho do container */
    height: auto;
    /* Mantém a proporção da imagem */
}



/* Contêiner que envolve o <select> */
.select-container {
    position: relative;
    width: 100%;
    /* Largura total do contêiner */
    max-width: 300px;
    /* Define uma largura máxima */
    margin: 10px 0;
    /* Espaçamento acima e abaixo */
}


/* Seta personalizada */
.select-container::after {
    content: "\25BC";
    position: absolute;
    right: 15px;
    /* Distância da seta à direita do contêiner */
    top: 50%;
    /* Centraliza verticalmente */
    transform: translateY(-50%);
    /* Ajusta para centralizar exatamente no meio da altura */
    pointer-events: none;
    /* Garante que a seta não interfira na interação com o seletor */
    color: rgb(8, 8, 8);
    /* Cor da seta */
    font-size: 16px;
    /* Tamanho da seta */
}
/* Adicionar estilo para o slider */
.slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
}

.about {
    
    background-color: rgb(219, 219, 218);
     
        padding-top: 80px; /* Ajuste o valor conforme necessário */
        margin-top: -80px; /* Compensa o padding para não alterar a estrutura */
    
}

.about h2 {
    font-size: 32px;
    color: rgb(11, 14, 24);
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
    color: rgb(51, 116, 185);
}

/* Estilo da equipe */
.team {
    background-color: rgb(11, 14, 24);
    color: rgb(219, 219, 218);
    padding: 20px;
    border-radius: 8px;
}

.team h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.team-members {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.member {
    text-align: center;
}

.member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;


    border: 3px solid rgb(51, 116, 185);
}

.member h4 {
    font-size: 20px;
    margin-bottom: 5px;
}

.member p {
    font-size: 16px;
    color: rgb(51, 116, 185);
}